.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.face {
  margin: 8px;
  padding: 3px;

  background-color: #e7e7e7;
  width: 52px;
  height: 52px;
  object-fit: contain;

  box-shadow: inset 0 2px white, inset 0 -2px #bbb, inset 2px 0 #d7d7d7,
    inset -2px 0 #d7d7d7;

  border-radius: 10%;
}

.pip {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 2px;

  background-color: #333;
  box-shadow: inset 0 1px #111, inset 0 -1px #555;
}
