.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.face {
  margin: 5px;
  padding: 2px;
  background-color: red;
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 10%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.pip {
  margin: 2px;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: yellow;
}

.invert.face {
  background-color: yellow;
}

.invert .pip {
  background-color: red;
}
