.goods {
  display: flex;
}

.goodSection {
  display: flex;
  align-items: center;
}
.goodSection:first-of-type {
  margin-left: -15px;
}
.goodSection:last-of-type {
  margin-right: -15px;
}

.divider {
  height: 75% !important;
}

.cardsWrapper {
  display: flex;
}

.cardsInHand,
.playedCards {
  flex: 1;
  position: relative;
}

.cardsWithButton {
  display: flex;
  position: absolute;
  left: 28px;
  top: -4px;
  right: 4px;
  overflow: auto;
}

.cardsWithDivider {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  top: -4px;
  right: 4px;
  overflow: auto;
}

.cardsWithDivider > :first-child {
  margin: 0 10px;
}

.spacer {
  width: 100%;
  height: 109px;
}

.takeDevCard {
  position: absolute !important;
  left: 10px;
  top: 15px;
  transition: all 250ms;
}

.takeDevCard.rotated {
  transform: rotate(-90deg);
  top: 43px;
  left: -54px;
}

.fieldsetWrapper:last-of-type {
  margin-left: 10px;
}

.playedCards {
  display: flex;
}
