.wrapper {
  display: flex;
  flex-direction: column;
}

.playerOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.chosenColor {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.spaceRight {
  margin-right: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}
.buttons > :nth-of-type(n + 2) {
  margin-top: 10px;
}
