.mainWindow {
  width: 100%;
}

.windowHeader {
  margin: 0 !important;
}

.windowContent {
  padding: 12px !important;
}

.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  overflow: hidden;
}

.actionBoardWrapper {
  display: flex;
  height: calc(100vh - 265px);
}

.cutout {
  width: 100%;
  height: calc(100vh - 305px);
}

.board {
  display: flex;
  flex: 1;
}

.board > * {
  flex: 1;
}

.item {
  display: flex;
  flex: 0 0 200px;
}

.item > * {
  flex: 1;
}

.action {
  display: flex;
}
