.mainWindow {
  width: 100%;
}

.windowHeader {
  margin: 0 !important;
}

.windowContent {
  padding: 12px !important;
}

.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
}

.actionBoardWrapper {
  display: flex;
  height: calc(100vh - 226px);
}

.cutout {
  width: 100%;
  height: calc(100vh - 305px);
}

.board {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.board > :last-child {
  height: calc(100% - 33px);
}

.item {
  display: flex;
  flex: 0 0 160px;
}

.item > * {
  flex: 1;
}

.action {
  display: flex;
}
