.table {
  table-layout: fixed;
}

.table th {
  text-align: left;
  line-height: 1.5;
}

.cards {
  display: flex;
  line-height: normal !important;
  color: black !important;
  overflow-x: auto;
  margin: 2px 0 3px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
