.playerOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.spaceLeft {
  margin-left: 5px;
}

.windowHeader {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radios {
  display: flex;
  flex-direction: column;
}

.fieldsets {
  display: flex;
}

.rightFields {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
}

.buttons {
  padding: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons > * {
  min-width: 80px;
  margin-left: 10px;
}
