.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.actionBoardWrapper {
  display: flex;
  height: calc(100vh - 200px);
}

.board {
  flex: 1;
}

.item {
  flex: 0 0 200px;
}
